.intro_headline{
  font-family: Gilroy, sans-serif;
  font-size: 100px;
  font-weight: 300;
  line-height: 144px;
}
.intro_paragraph{
  font-family: Barlow, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px; 
  color: rgba(255, 255, 255, 0.7); 
}
.learn_more_headline{
  font-family: Barlow, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 64px;
}